<h1>BATTLE TIME!</h1>
<h2>Please enter player names</h2>
<form action="/names" method="post">
  Player 1:
  <input type="text" name="player_1">
  Player 2:
  <input type="test" name="player_2">
  <input type="submit" value="Submit">
</form>